a{padding: 1vw 2vw;
background-color: #005582;
margin-top:1vw;
left: 0;
border-radius: 1vw;
color: aliceblue;
text-decoration: none;
}
h1{text-align: center;
font-size: 3vw;
font-family: Georgia;
}

img {
    width: 100%;
}

table {
  font-family: Georgia;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}
